// Social buttons
//------------------------------------------------------------------------------
@each $name, $color in $colors {
    .btn-#{$name} {
        @include create-buttons($color);
        @include create-transition();

        &:hover {
            color: $white !important;
            background-color: darken($color, 10%) !important;
        }
    }
}

// Button sizes
// -----------------------------------------------------------------------------
.size-xsmall {
    @include create-sizes($size-xsmall);
}

.size-small {
    @include create-sizes($size-small);
}

.size-large {
    @include create-sizes($size-large);
}

.size-xlarge {
    @include create-sizes($size-xlarge);
}

// Button shapes
// -----------------------------------------------------------------------------
.shape-circle {
    border-radius: 50% !important;
}

.shape-flat {
    border-radius: 0% !important;
}

.shape-leaf {
    border-radius: 50% 0 50% 0 !important;
}