/**
 * Mixins
 *
 * @author  Emre Can ÖZTAŞ <me@emrecanoztas.com>
 */

// Create Buttons
// =============================================================================
@mixin create-buttons($color) {
    height: $size;
    width: $size;
    line-height: $size;
    font-size: $size / 2;
    margin: $margin;
    display: $display;
    overflow: $overflow;
    position: $position;
    text-align: $text-align;
    border: $border;
    border-radius: $border-radius;
    color: #{$white} !important;
    background-color: #{$color} !important;
    text-decoration: none !important;
}
// Create Button Sizes
// =============================================================================
@mixin create-sizes($size) {
    height: $size;
    width: $size;
    line-height: $size;
    font-size: $size / 2;
}
// Create Button Transition
// =============================================================================
@mixin create-transition() {
    transition: $transition !important;
    -webkit-transition: $transition !important;
    -moz-transition: $transition !important;
    -ms-transition: $transition !important;
    -o-transition: $transition !important;
}
